@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
    background-color: black;
    padding-top: 0px !important;
   
}

.fixed-top{
    transition: 1s;
}
.nav-item .nav-link{
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
.logo-nav img{
    width: 250px;
}

.nav-item .nav-link:hover{
    color:#000000;
    background-color: #fff;
     
}

@media (max-width: 600px)
{
    #header h1{
        font-size: 50px !important;
    }
    .background-menu{
        height:100% !important;
        background-position:top !important;
        background-repeat: no-repeat;
        background-size: cover !important;
    }
    .navbar{
        background-color: #212529 !important;
    }
    .navbar-nav{
        text-align: center  !important;
       
        
    }
    .navbar-nav .nav-item{
        padding-right: 0 !important;
    }
 
}

.navbar-toggler{
    background-color: #fff;
}


#header{
    padding-top: 280px;
   
}

#header h1{
    color: #fff;
    font-size: 90px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
   
   
    
    text-shadow: 
    2px 2px 0px #000000b3, 0 0px 1px #000000;
}
#header button{
    font-family: 'Oswald', sans-serif;
    border-radius: 0;
    border:none;
    font-size: 20px;
   
}



   

#header button:hover{
   color: #000000;
    background-color:#fff;
    
}

#btn-portifolio button:focus{
    opacity: 0.5;
    
}


.background-menu{
    background-image: url(./assets/img-sidney/img-menu.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.portifolio-textos{
    padding-top: 100px;
    
}

#portifolio h1{
    font-family: 'Anton', sans-serif;  
    color: #fff;
    font-weight: 500;
}
#portifolio p {
    color: #fff;
    font-family: 'Oswald', sans-serif; 
    font-weight: 300;
}

#portifolio .borda{
    border: 1px solid;
    border-color:#dddddd71;
    width: 80px;
}

/*Background */


/* Galeria*/ 

.projetos{
    padding-top: 100px;
}


#btn-portifolio{
    padding-bottom: 100px;
    font-family: 'Anton', sans-serif;

}
#btn-portifolio button{
    border: none;
    border-radius: 0;
}
#btn-portifolio button:hover{
    color: #000000;
    background-color:#fff;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.gallery_product img{
   
    width: 365px;
    height: 365px;
   
}
.gallery_product img:hover{
    transition: 0.6s;
    transform: scale(1.10);
    cursor: pointer;
  
}

/* MODAL */
