@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
    background-color: black;
    padding-top: 0px !important;
   
}

.fixed-top{
    transition: 1s;
}
.nav-item .nav-link{
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
.logo-nav img{
    width: 250px;
}

.nav-item .nav-link:hover{
    color:#000000;
    background-color: #fff;
     
}
@media (min-width: 1024px)
{
    #header h1{
        font-size: 60px !important;
    }
    #header{
        padding-top: 170px !important;
    }
    .background-menu{
        height: 500px !important;
    }
    .gallery_product img{
        width: 300px !important;
        height: 300px !important;
    }
}
@media (max-width: 400px){
    .gallery_product img{
        width: 320px !important;
        height: 320px !important;
    }

}
@media (max-width: 600px)
{
    #header h1{
        font-size: 50px !important;
    }
    .background-menu{
        height:100% !important;
        background-position:top !important;
        background-repeat: no-repeat;
        background-size: cover !important;
    }
    .navbar{
        background-color: #212529 !important;
    }
    .navbar-nav{
        text-align: center  !important;
       
        
    }
    .navbar-nav .nav-item{
        padding-right: 0 !important;
    }
    #btn-portifolio button {
        margin-left: 0px !important;
        margin-top: 10px !important;
    
    }
 
}

.navbar-toggler{
    background-color: #fff;
}


#header{
    padding-top: 280px;
   
}

#header h1{
    color: #fff;
    font-size: 90px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
   
   
    
    text-shadow: 
    2px 2px 0px #000000b3, 0 0px 1px #000000;
}
#header button{
    font-family: 'Oswald', sans-serif;
    border-radius: 0;
    border:none;
    font-size: 20px;
   
}



   

#header button:hover{
   color: #000000;
    background-color:#fff;
    
}

#btn-portifolio button:focus{
    opacity: 0.5;
    
}


.background-menu{
    background-image: url(./assets/img-sidney/img-menu.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.portifolio-textos{
    padding-top: 100px;
    
}

#portifolio h1{
    font-family: 'Anton', sans-serif;  
    color: #fff;
    font-weight: 500;
}
#portifolio p {
    color: #fff;
    font-family: 'Oswald', sans-serif; 
    font-weight: 300;
}

hr{
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  
  color:#fff;
  width: 200px;
  
}

/*Background */


/* Galeria*/ 

.projetos{
    padding-top: 100px;
}


#btn-portifolio{
    padding-bottom: 100px;
    font-family: 'Anton', sans-serif;

}
#btn-portifolio button{
    border: none;
    border-radius: 0;
}
#btn-portifolio button:hover{
    color: #000000;
    background-color:#fff;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.gallery_product .Videos{
   
    width: 365px !important;
    height: 365px !important;
   
}
.gallery_product .Videos:hover{
    transition: 0.6s;
    opacity: 0.5;
    cursor: pointer;
  
}

#titulo-servicos{
    padding-top: 100px;
}
#titulo-servicos h1{
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-weight: 500;
}
#titulo-servicos p {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

#servicos{
    margin-top: 100px; 
}
#coluna-servicos{
    
    height: 350px;
   padding-top: 25px;
   margin-top: 20px;
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#coluna-servicos img{
    width: 80px;
    height: 80px;
    border: 2px solid;
    border-color: #fff;
    border-radius: 100px;
}


#servicos h4{
    font-family: 'Anton', sans-serif;
    color:#fff;
    font-size: 20px;
    font-weight: 500;
}
#servicos p{
     font-family: 'Oswald', sans-serif;
   color:#fff;
   font-size: 15px;
   font-weight: 300;
}

/*/contador /*/

.counter{
  padding-top: 150px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 25px;
    
    
}
.container-counter{
    margin-bottom: 100px;
    height: 300px;
    padding-top: 50px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.container-counter img{
 height: 100px;
 width: 100px;
}




.sobre-mim{
    padding-top: 150px;
}
#titulo-sobre h1{
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-weight: 500;
}

#titulo-sobre h4{
 color: #fff;
 font-family: 'Anton', sans-serif;
font-weight: 500;
font-size: 20px;
}

#titulo-sobre p {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

#img-sobre img{
    margin-top: 200px;
    width: 400px;
    height: 400px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#texto-sobre-mim{
    margin-top: 250px;
}

#texto-sobre-mim p{
     letter-spacing: 0;
}


.contate-me{
    padding-top: 200px;
    color: #fff;
    font-family: 'Anton', sans-serif;
 
    font-weight: 500;
   
}
.hr-contate-me{
    margin-left: 0px;
    width: 50% !important;
   
}

#form-contato{
    padding-top: 100px;

}

#sociais-contato{
    padding-top: 100px;
}

.form-control{
  width: 80% !important;
  border: 1px solid #FFF;
  background-color: #000000;
  color: #fff;
}
.form-control:focus{
  background-color: #000000;
  color: #fff;
}

textarea.form-control{
  height: 200px;
  
}



.botao-form-contato{
  height: 50px;
  width: 80%;
  border-radius: 5px;
  background-color: #212529;
}
.botao-form-contato:active{
    
    transform: scale(1.001);
    cursor: pointer;
}
  
.botao-form-contato img{
    width: 25px;
    height: 25px;
}

.contato-lista li {
    list-style: none;
    padding-top: 20px;
}
.contato-lista li a{
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
 
}

.contato-botao{
   display: flex;
   gap: 10px;
}
.contato-botao li {
 list-style: none;
}
.contato-botao button{
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

#sticky-footer{
  margin-top: 350px;
}